.formReset p{
	margin-top: 24px;
	font-size: 13px;
    color: #403e5b;
    opacity: 0.8;
    font-family: 'AvenirNextLTProRegular';
}
#resetorShadow{
	border-radius: 10px!important;
}
#restorePass{
	margin-top: 40px!important;
}
.restorButton{
		margin-bottom: 40px!important;
}
@media (min-width: 992px) and (max-width: 1199px){
	.formReset button{
		padding:11px 0!important;
		width: 59%!important;
	}
	
}
@media (min-width: 768px) and (max-width: 991px){
	.restorButton{
		margin-bottom: 40px!important;
	}
}